* {
    background-color: rgb(179, 191, 226);
}
#boxinput{
    
    display: flex;
}
#btn1 {
    background-color: gray;
}
#inputpart{
    border: 2px solid black;
  
    
}
#inpmargin{
margin-left: 5px;
margin-bottom: 10px;

}
#boxforinput{
    display: flex;
    gap:4px;
}